@inject UserManager<ApplicationUser> UserManager
@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Editar Perfil</h2>

<div>
 <h4>@UserManager.FindByNameAsync(User.Identity.Name).Result.Nome @UserManager.FindByNameAsync(User.Identity.Name).Result.Apelido</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
